<div class="row">
  <div class="col-lg-2 col-md-2 col-4 day" *ngFor="let day of weekWeather">
      <div class="weather">
        <p *ngIf="day.date === this.today; else elseTemplate">
        today</p>
        <ng-template #elseTemplate>
          <p>{{day.date | date:'dd.MM.yyyy'}}</p>
        </ng-template>
          <div class="weather-icon"
                [ngStyle]="{'background-image': (day.weatherIcon.indexOf('2') === 0) ? 'url('+ 'assets/weather-ico/storm.png' +')' : 
                                                (day.weatherIcon.indexOf('3') === 0) ? 'url('+ 'assets/weather-ico/snowing-3.png' +')' : 
                                                (day.weatherIcon.indexOf('5') === 0) ? 'url('+ 'assets/weather-ico/rain-1.png' +')' : 
                                                (day.weatherIcon.indexOf('6') === 0) ? 'url('+ 'assets/weather-ico/snowing-1.png' +')' : 
                                                (day.weatherIcon.indexOf('7') === 0) ? 'url('+ 'assets/weather-ico/tornado.png' +')' : 
                                                (day.weatherIcon.indexOf('800') >= 0) ? 'url('+ 'assets/weather-ico/sun.png' +')' :
                                                'url('+ 'assets/weather-ico/cloudy-1.png' +')' }"></div>
                <span>{{day.maxTemp | number:'1.0-0'}}</span><span>/</span><span>{{day.minTemp | number:'1.0-0'}}</span>
        </div></div>
</div>