/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(/src/assets/fonts/Montserrat-Regular.ttf)
}
@font-face {
    font-family: 'Merriweather', serif;
    src: url(/src/assets/fonts/Merriweather-Regular.ttf)
}
* {
    font-family: 'Montserrat', sans-serif;
}

